[submodule "zb3219PA_XBEEAdapter"]
	path = zb3219PA_XBEEAdapter
	url = https://github.com/SensorsUnleashed/zb3219PA_XBEEAdapter.git
	branch = master
[submodule "KicadComponents"]
	path = KicadComponents
	url = https://github.com/SensorsUnleashed/KicadComponents.git
	branch = master
[submodule "relayboard"]
	path = relayboard
	url = https://github.com/SensorsUnleashed/relayboard.git
[submodule "RadioOne"]
	path = RadioOne
	url = git@github.com:SensorsUnleashed/RadioOne.git
